<a href="https://colab.research.google.com/github/baruchais/Introduction-to-Python-Fall-2023/blob/main/Python_workshop_1(Fall_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Welcome to our annual Intro to Python Workshop** üêç

##*   Beginner friendly
##*   Feel free to leave your comments or questions in the chat!

##**Comments**

In [ ]:
# comments are notes of explanations that document lines or sections of a program.

# there are two types of comments available to use

  # single line comments like this one
  #
  #
# or

'''
 comments like these
 where you can have multiple
 lines
'''

print("Hello world")

Hello world

#**Displaying Output with the *print()* function**

In [ ]:
# You use the print function to display output in a Python program

# A function is a piece of prewritten code that performs an operation.
# Python has numerous buil-in functions that perform various operation.

# example:
print("Hello World")

print('In-person classes began this week: *sad*')

print()

print("Baruch College")
print("55 Lexington Ave,")
print("New York,")
print("NY, 10010")

Hello World
In-person classes began this week: *sad*

Baruch College
55 Lexington Ave,
New York,
NY, 10010

##**Strings - Data Type 1**

In [ ]:
# Sequence of characters
# Strings must be encapsulated with quotations "" or ''

print("Hello World")

# You can check what data type it is using the type() function

print(type("Hello World"))
print()

#More examples of string data

print('In person class began this week: *sad* ')
print("We are glad you're here though")
print(type("this is another string"))
print(type("this is another string"))

Hello World
<class 'str'>

In person class began this week: *sad*
We are glad you're here though
<class 'str'>
<class 'str'>

##**Intergers ('int') - Data Type 2**

###Mathematical Operations

In [ ]:
# Integers refer to counting numbers (i.e 0, 1, 2...) and negative #numbers (i.e. -3, -2, -1, ) with NO decimals
# They DO NOT need to be encapsulated in quotations

# example:

print(100)
print(type(100))
print(type(-100))

100
<class 'int'>
<class 'int'>

In [ ]:
# Matemathical operations

# (+) Addition

print(1+1)

2

In [ ]:
# (-) Subtraction

print(2-1)

1

In [ ]:
# (/) Division

print(3/2)

1.5

In [ ]:
# (*) Multiplication

print(4*2)

8

In [ ]:
# (%) Modulus (Remainder) - This will divide the two numbers and return the remainder

print(10 % 3)

1

In [ ]:
# (**) Exponent - Two multiplication operators make an exponent operator

print(5**2)

25

##**Floats - Data Type 3**

In [ ]:
''' Floats refer to numbers (positve and negative) which contain decimals
Like integers, they DO NOT need to be encapsulated in quotations '''

print(69.9)
print(type(69.9))
print(24.0)
print(type(24.0))

# Floats and integers have similar operations

# Addition
print("1.1 + 1.1 =", 1.1 + 1.1)
print()

# Subtraction
print("6.4 - 2.0 =", 6.4 - 2.0)
print()

# Multiplication
print("36.5 * 74.2 =", 36.5 * 74.2)
print()

# Division
print("24.6 / 11.9 =", 24.6 / 11.9)
print()

# Integer Division
print("24.6 // 11.9 =", 24.6 // 11.9)
print()

# Modulus
print("6.5 % 2.0 =", 6.5 % 2.0)
print()

# Exponent
print("6.5**2.0 =", 6.5**2.0)

69.9
<class 'float'>
24.0
<class 'float'>
1.1 + 1.1 = 2.2

6.4 - 2.0 = 4.4

36.5 * 74.2 = 2708.3

24.6 / 11.9 = 2.0672268907563027

24.6 // 11.9 = 2.0

6.5 % 2.0 = 0.5

6.5**2.0 = 42.25

##**Booleans - Data Type 4**

In [ ]:
# What is a Boolean?
# Boolean is a logical data type that can only have the values of True or False.
# They DO NOT need to be encapsulated in quotation marks

# Examples:

print(True)
print(type(True))
print(False)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# Let's use some comparison operators

# Equal operator
print(1 == 1)

# Not Equal operator
print(1 != 1)

# Greater than operator
print(1 > 1)

# Less than operator
print(1 < 1)

# Greater than or equal to operator
print(1 >= 1)

# Less than or equal to operator
print(1 <= 1)

print("Mylo" == "Myl")

True
False
False
False
True
True
False

In [ ]:

# You can also use Logical Operators to combine conditional statements

# And operator
print('And operator examples:')
print(True and True) # -> True
print(True and False) # -> False
print(False and False) # -> False

# Or operator
print('\nOr operator examples:')
print(True or True) # -> True
print(True or False) # -> True
print(False or False) # -> False

# Not operator
print('\nNot operator examples:')
print(not True) # -> False
print(not False) # -> True

And operator examples:
True
False
False

Or operator examples:
True
True
False

Not operator examples:
False
True

##**If Statements**

In [ ]:
# Boolean expressions can be used in conditional statements called If statements
# Indentation is very important

if 100 == 100:
  print("This is true!")

This is true!

In [ ]:
# Since the condition isn't met, it will not print the desired output

if 100 != 100:
  print("This is true!")

In [ ]:
# The else keyword is an optional statement that catches anything which isn't caught by the preceding conditions.

if 100 == 100:
  print("This is true!")
else:
  print("This is false!")

This is true!

##**If-Else Statements**

In [ ]:
# Since 1 is equal to 1, python ignores the first condition and goes to else.

if 100 != 100:
  print("This statement is true!")
else:
  print("This statement is false!")

This statement is false!

##**If-Elif-Else Statements**

In [ ]:
# What happens if you wanna test multiple conditions?

if "Scooby" == "Velma":
  print("Scooby equals Velma")

elif "Shaggy" == "Scooby":
  print("Shaggy equals Scooby")

elif "Velma" == "Fred":
  print("Velma equals Fred")

else:
  print("None of them are the same characters")

None of them are the same characters

##**Variables**

In [ ]:
# A variable is a name that represents a value stored in the computer's memory.

# Variable rules:

#  1. You cannot use one of Python's key words as a variable name.
#  2. A variable name cannot contain spaces
#  3. The first character must be one of the letters a through z, A through Z, or underscore character(_).
#  4. After the first character, then you can use letters, digits, or underscores.
#  5. Uppercase and lowercase characters are distinc. Varible Cat and cat are not the same.

In [ ]:
# creating a variable with assignment (=) statements.
# The left side is the variable and the right side is the value we want to assign to the variable.
Cat = "Mylo"



print(Cat)
print(type(Cat))

Mylo
<class 'str'>

In [ ]:
color = "black and white"
age = 6

print(Cat)
print(color)
print(age, "weeks old")

Mylo
black and white
6 weeks old

In [ ]:
# You can also redefine variables.

Cat = "Mylo"
print(Cat)


Cat = "Milo"
print(Cat)


# Even though Python allows you to do this, this is not recommended since it could lead to more problems in the future
Cat = 6
print(Cat)

Mylo
Milo
6

In [ ]:
#We can reassign variables to another data type. This can be done with casting
#5 is an integer, but lets turn it into a float

age = 6
print(type(age))
print(age)
print() #leaving an empty line space

age = float(age)
print(type(age))
print(age)

<class 'int'>
6

<class 'float'>
6.0

In [ ]:
# If you want to change one data type to another, you can use casting methods

fingers = 10
print(fingers, type(fingers))
print()

fingers = float(5)
print(fingers, type(fingers))
print()

fingers = str(5)
print(fingers, type(fingers))
print()

fingers = bool(5) # The reason why this returns True is because it is not a value that equates to 0, such as None or 0 or ""
print(fingers, type(fingers))

10 <class 'int'>

5.0 <class 'float'>

5 <class 'str'>

True <class 'bool'>

In [ ]:
# Testing None, 0, and ""

fingers = bool(None)
print(fingers, type(fingers))

fingers = bool(0)
print(fingers, type(fingers))

fingers = bool("")
print(fingers, type(fingers))

False <class 'bool'>
False <class 'bool'>
False <class 'bool'>

In [ ]:
# Casting will not work for conversions:
  # From string to integer
  # From string to float

#examples:
# String to integer conversion, you will get an error.
print(int("Hello world"))

ValueError: ignored

In [ ]:
# String to float conversion
# You will get an error
print(float("Hello world"))

ValueError: ignored

In [ ]:
# Unless the string itself represents the desired data type
# This will work because there's a number in the string

print(int("100"))

print(type(int("100")))

100
<class 'int'>

##**Input Function**

In [ ]:
# Programs commonly need to read input typed by the user on the keyboard.
# We will do this using the input() function.

#format:  variable = input(prompt)

input("Enter your first name: ")

Enter your first name: ari

'ari'

In [ ]:
#We'll be able take this information, assign it to a variable, and then do something with that variable.

# Get the user's first name
name = input("Enter your first name and last name: ")

# Print a greeting to the user
print("Hello "+ name)

Enter your first name and last name: ari torres
Hello ari torres

In [ ]:
'''The print statement above uses concatenation to combine the elements.
NOTE: You can only concatenate a string with another string.
For example, if I want to combine a variable that holds an integer with a string, it WILL GIVE AN ERROR. '''

print("Mylo is" + 6 + "weeks old")

TypeError: ignored

In [ ]:
#You can get around this by turning the element into a string.

print("Mylo is " + str(6) +" weeks old")

Mylo is 6 weeks old

In [ ]:
#You can also combine variables with a comma.
#For example:

a = "I am"
b = "bored"
print(a,b) #if you do this with concatenation you'd have to convert the number into a str

I am bored

In [ ]:
# You can also use the 'sep' parameter to change how to separate each value

print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep=", ")
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep=" -> ")

1 2 3 4 5 6 7 8 9 10
1, 2, 3, 4, 5, 6, 7, 8, 9, 10
1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9 -> 10

In [ ]:
# There are many other cool things you can do with the print function
# You can use this to see the other parameters if you're interested

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##**Lists**

In [ ]:
# A list is an object that contains multiple data items.
# Lists are mutable, which means that their contents can be changed during an execution.
# We use the [] notation to create a list

characters = ["Scooby", "Shaggy", "Velma", "Fred", "Daphne"]
print(type(characters))

<class 'list'>

In [ ]:
# Lists don't need to contain the same types of data

unknown = ['Shaggy', 12345, True, "asdfghj"]
print(unknown)

['Shaggy', 12345, True, 'asdfghj']

In [ ]:
# Since lists are ordered using indicies, we can access elements in the list using them
# What are indicies?

'''You can also access elements backwards through negative indexing.
When we perform negative indexing, we start from -1, not 0.'''

#           -5   -4   -3   -2   -1
#            0    1    2    3    4
alphabet = ["a", "b", "c", "d", "e"]

print(alphabet[0], alphabet[4])
print(alphabet[-5], alphabet[-1])

a e
a e

In [ ]:
# Let's bring back our characters and see what we can get!

characters = ["Scooby", "Shaggy", "Velma", "Fred", "Daphne", "Mylo ofc"]

print(characters)
print(characters[0])
print(characters[4])
print(characters[5])

['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']
Scooby
Daphne
Mylo ofc

In [ ]:
'''Another way we can access elements is through slicing. We can achieve this by using a colon (:).
There is a special case we MUST make note of when slicing lists, the index number we put after the colon.
When slicing, python will grab all the elements up to but NOT including the index after the colon.
For example: '''


print(characters)
print(characters[1:4])

#The statement above grabbed index 1, 2, and 3, but not 4.

['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']
['Shaggy', 'Velma', 'Fred']

In [ ]:
# If we only have a colon within the slicing notation, we will get a copy of the entire list

characters = ["Scooby", "Shaggy", "Velma", "Fred", "Daphne", "Mylo ofc"]

print(characters[:])

['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']

In [ ]:
# More examples
print(characters)
print(characters[3:]) # from 3rd index and to the right

print(characters[:3]) # from 2nd index and to the left

['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']
['Fred', 'Daphne', 'Mylo ofc']
['Scooby', 'Shaggy', 'Velma']

In [ ]:
# There is a third parameter to slicing that exists that allows you to skip elements

print(characters[:])
print(characters[::2])

['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']
['Scooby', 'Velma', 'Daphne']

In [ ]:
# Lists are really good to use because they are mutable, which means you can change the data within them

characters = ["Scooby", "Shaggy", "Velma", "Fred", "Daphne", "Mylo ofc"]
print("Before:", characters)


print()
# lets include Bogel
characters[4] = "Bogel"
print("After: ", characters)

Before: ['Scooby', 'Shaggy', 'Velma', 'Fred', 'Daphne', 'Mylo ofc']

After:  ['Scooby', 'Shaggy', 'Velma', 'Fred', 'Bogel', 'Mylo ofc']

##**List Methods**

In [ ]:
# Lists have numerous methods that allow you to work with the elements that they contain.
# Python also provides some built-in functions that are useful for working with lists.

In [ ]:
# Append method: is commonly used to add items to a list.

characters = ["Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi"]
print("Before:", characters)

characters.append("Donkey Kong")
print("After:", characters)

Before: ['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi']
After: ['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi', 'Donkey Kong']

In [ ]:
# Pop method: allows you to remove the element at a specified index

characters = ["Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi"]
print("Before:", characters)


popped = characters.pop(4)
print("After:", characters)
print(popped)

Before: ['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi']
After: ['Mario', 'Luigi', 'Peach', 'Daisy', 'Yoshi']
Toad

In [ ]:
# Index method: allows you to find the index of a specified element in the list

characters = ["Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi"]
print(characters)

location = characters.index("Peach")
print(location)

['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi']
2

In [ ]:
# Sort Method: rearranges the elements of a list so they appear in ascending order.

my_list = [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
print("Before:", my_list)

my_list.sort()
print("After:", my_list)
size = len(my_list) # len returns the legth of a sequence
print(size)

print()

characters = ["Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi"]
print("Before: ", characters)

characters.sort()
print("After: ", characters)

Before: [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
After: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10

Before:  ['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi']
After:  ['Daisy', 'Luigi', 'Mario', 'Peach', 'Toad', 'Yoshi']

In [ ]:
# Reverse method: allows you to reverse a list

characters = ["Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi"]
print("Before:", characters)


print()
characters.reverse()
print("After:", characters)

Before: ['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi']

After: ['Yoshi', 'Toad', 'Daisy', 'Peach', 'Luigi', 'Mario']

In [ ]:
# There are many other methods for lists but those are the most popular ones
# To learn more about list methods, check out this website -> https://www.w3schools.com/python/python_ref_list.asp

##**Tuples**

In [ ]:
# What is a tuple?
# A tuple is an immutable data stucture that is used to store collections of data and is ordered using indicies as well
# We use the () notation to create a tuple

characters = ("Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi")
print(characters)

('Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi')

In [ ]:
# We can extract data from tuples like we did with lists

print(characters[0])
print(characters[-1])
print(characters[1:3])

Mario
Yoshi
('Luigi', 'Peach')

In [ ]:
# Tuples are different than lists because they are immutable, which means you CANNOT change the data within them

characters = ("Mario", "Luigi", "Peach", "Daisy", "Toad", "Yoshi")
characters[2] = "Bowser"

# We cannot change Peach with Bowser

TypeError: ignored

In [ ]:
# Since tuples are immutable, they have limited methods

# The count method returns the number of times a specified value occurs in a tuple
array = [1, 1, 1, 2, 2, 3, 4, 5]
print(array.count(1)) # 1 appears three times

3

In [ ]:
# The index method allows you to search for the FIRST index of a specified value in a tuple
array = [1, 1, 1, 2, 2, 3, 4, 5]
print(array.index(2))

# Even though there are multiple 2's, only the first 2 index is displayed

3

##**Dictionaries**

In [ ]:
# A dictionary is an object that stores a collection of data.
# Each element has two parts: a key and a value.
dictionary = {"Mario": 10, "Luigi": 9, "Peach": 11, "Daisy": 8, "Toad": 5, "Yoshi": 2}
print(dictionary)

{'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}

In [ ]:
# We can also display dictionaries in this way, which is more common to see in the industry
dictionary = {
    "Mario": 10,
    "Luigi": 9,
    "Peach": 11,
    "Daisy": 8,
    "Toad": 5,
    "Yoshi": 2
}
print(dictionary)

{'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}

In [ ]:
# If you want to get a specific value, you must use the appropriate key

# Let's find the strength of Toad
print(dictionary["Toad"])

5

In [ ]:
#example
print(dictionary["Bowser"])

# This will give you an error

KeyError: ignored

In [ ]:
# Since Bowser is not part of the dictionary, we will get an error
# To avoid getting errors about invalid keys, we can use the get() method to bypass this

print(dictionary.get("Bowser"))

None

In [ ]:
# To add a record into a dictionary, we can use the new key and assign it to a value
# Let's finally add Bowser to the dictionary
print("Before:", dictionary)

dictionary["Bowser"] = 10
print("After:", dictionary)

Before: {'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}
After: {'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2, 'Bowser': 10}

In [ ]:
# To delete a record from a dictionary, we can use the del keyword

# Actually, let's delete Bowser again
print("Before:", dictionary)

del dictionary["Bowser"]
print("After:", dictionary)

Before: {'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2, 'Bowser': 10}
After: {'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}

In [ ]:
# To change a record from a dictionary, we can reassign the value using the key

# Mario ate a super mushroom
print("Before:", dictionary)

dictionary["Mario"] = 20
print("After:", dictionary)

Before: {'Mario': 10, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}
After: {'Mario': 20, 'Luigi': 9, 'Peach': 11, 'Daisy': 8, 'Toad': 5, 'Yoshi': 2}

In [ ]:
# To see all of the keys in your dictionary, we can use the keys() function
print(dictionary.keys())

dict_keys(['Mario', 'Luigi', 'Peach', 'Daisy', 'Toad', 'Yoshi'])

In [ ]:
# To see all of the values in your dictionary, we can use the values() function
print(dictionary.values())

dict_values([20, 9, 11, 8, 5, 2])

In [ ]:
# There are many other methods for dictionaries
# To learn more, please visit https://www.w3schools.com/python/python_dictionaries.asp

##**Sets**

In [ ]:
# A set is an unordered collection of items where every element is UNIQUE
# We use the set() function to initialize a set
cards = set()

In [ ]:
# We can also initialize them by using the set() function on a list, or by populating {} with values

cards = set([1, 1, 1, 2, 2, 3, 4, 5])
print(cards)

cards = {1, 1, 1, 2, 2, 3, 4, 5}
print(cards)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# Sets are one of the most important data structures in Python because it can only contain unique values

# The add method allows us to add an element into the set
cards = {1, 2, 3, 4, 5}
print("Before:", cards)
cards.add(6)
print("After:", cards)

Before: {1, 2, 3, 4, 5}
After: {1, 2, 3, 4, 5, 6}

In [ ]:
# The remove method allows us to delete an element from the set
cards = {1, 2, 3, 4, 5}
print("Before:", cards)
cards.remove(5)
print("After:", cards)

Before: {1, 2, 3, 4, 5}
After: {1, 2, 3, 4}

In [ ]:
# Sets are also important because they apply directly to Set Theory

# The difference method returns a set that contains the difference between two or more sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# What values in a are NOT in b?
print(a.difference(b))
# What values in b are NOT in a?
print(b.difference(a))

{1, 2}
{5, 6}

In [ ]:
# The intersection method allows us to see what two sets have in common
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# What do a and b have in common?
print(a.intersection(b))

In [ ]:
# The union method returns the union of sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# Let's combine two sets
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [ ]:
# There are many other methods that sets have but for this tutorial, these are the main ones
# If you are interested in learning more, feel free to go to https://www.w3schools.com/python/python_sets_methods.asp

##**Functions**

In [ ]:
# Functions are groups of statements that exist within a program for the purpose of performing a specific task.
# They are defined using the def keyword
# Indentation is important

# This function here prints good old hello world
def greeting():
  print("Hello World!")

# To use a function, we call it by simply stating the name of the function and its parameters
# Since this function has no parameters, we can simply do this:
greeting()

Hello World!

In [ ]:
# We can also put parameters into functions as well, called positional arguments

def greeting(name):
  print("Hello! My name is", name)

greeting("Christina")
greeting("Wylie")
greeting("Jenny")
greeting("Mylo ofc")

Hello! My name is Christina
Hello! My name is Wylie
Hello! My name is Jenny
Hello! My name is Mylo ofc

In [ ]:
# If we don't specify the correct parameters, we will get an error

def greeting(name):
  print("Hello! My name is", name)

greeting()

TypeError: ignored

In [ ]:
# To take that into account, we can add a keyword argument by using the = operator
# The value assigned to the argument will act like a default value

def greeting(name = "Mylo"):
  print("Hello! My name is", name)

greeting()
# back to Mylo ofc!

Hello! My name is Mylo

In [ ]:
# We can also have multiple parameters in a function as well

def intro(name, toy):
  print("Hello everyone! My name is", name, "and I love my", toy + "!")

intro("Mylo", "Cat Tree Tower")

Hello everyone! My name is Mylo and I love my Cat Tree Tower!

In [ ]:
# Since these are positional arguments, the order in which the arguments are given matter

# Example:
def intro(name, toy):
  print("Hello everyone! My name is", name, "and I love my", toy + "!")

intro("Cat Tree Tower", "Mylo")

Hello everyone! My name is Cat Tree Tower and I love my Mylo!

In [ ]:
# We can also have functions return a value that can be used for other uses

# Let's create a function to find the area of a rectangle
def area(length, width):
  return length * width

a = area(5, 8)
print("The area is", a)

The area is 40

In [ ]:
# Let's create a function to find the volume of a rectangular prism
def volume(length, width, height):
  return length * width * height

v = volume(10, 4, 9)
print("The volume is", v)

The volume is 360

#**Thank you for joining or Intro to Python workshop!!**

##**Now it is time for the prizes :D**